<form role="form">
    <div class="form-group">
        <label for="url">Bookmark URL</label>
        <input type="url" class="form-control" id="url" ng-model="bookmark.url">
    </div>
    <div class="form-group">
        <label for="title">Bookmark Title</label>
        <input type="text" class="form-control" id="title" ng-model="bookmark.name">
    </div>
    <div class="form-group">
        <label for="tags">Tags: (separated by commas)</label>
        <input type="text" class="form-control" id="tags" ng-model="bookmark.tags">
    </div>
    <button type="submit" class="btn btn-success" ng-click="save()">Save</button>
    <button class="btn btn-default" ng-click="clear()">Clear</button>
</form>
